@mixin ymsk-wp-not-mobile {
	@media ( min-width: 783px ) {
		@content;
	}
}
@mixin ymsk-wp-mobile {
	@media ( max-width: 782px ) {
		@content;
	}
}

table.wp-list-table {
	/* Advanced Columns */
	th.column-ymsk-thumbnail {
		width: 40px;
		opacity: .75;
		
		@include ymsk-wp-mobile {
			display: none;
		}
		
		.text {
			display: none;
		}
		
		.dashicons {
			width: 100%;

			font-size: 14px;

			&::before {
				vertical-align: sub;
			}
		}
	}
	td.column-ymsk-thumbnail {
		@include ymsk-wp-mobile {
			display: none;
		}

		img, .dashicons {
			width: 40px;
			height: 40px;
			border-radius: 2px;
		}
		
		.dashicons {
			opacity: .1;
			
			font-size: 40px;
		}
	}
		tr.is-expanded td.column-ymsk-thumbnail {
			@include ymsk-wp-mobile {
				padding: 8px 8px 2px 35%;

				display: flex !important;
				align-items: center;
			}
		}
	
	th.column-ymsk-filesize {
		width: 110px;
	}
	
	th.column-ymsk-template {
		width: 150px;
	}
	
	/* WooCommerce fix */
	body.post-type-product &.tags {
		th.column-name.column-primary {
			width: auto;
		}
	}
}