/* Variables */
:root {
  --ymsk-thumb-border-radius-small: 2px;
  --ymsk-thumb-border-radius-primary: 4px;
}

table.wp-list-table {
  /* Common */
}
table.wp-list-table th.column-ymsk-thumbnail {
  width: 40px;
  opacity: 0.75;
}
@media (max-width: 782px) {
  table.wp-list-table th.column-ymsk-thumbnail {
    display: none;
  }
}
table.wp-list-table th.column-ymsk-thumbnail .text {
  display: none;
}
table.wp-list-table th.column-ymsk-thumbnail .dashicons {
  width: 100%;
  font-size: 14px;
}
table.wp-list-table th.column-ymsk-thumbnail .dashicons::before {
  vertical-align: sub;
}
@media (max-width: 782px) {
  table.wp-list-table td.column-ymsk-thumbnail {
    display: none;
  }
}
table.wp-list-table td.column-ymsk-thumbnail a {
  display: flex;
}
table.wp-list-table td.column-ymsk-thumbnail img, table.wp-list-table td.column-ymsk-thumbnail .dashicons {
  width: 40px;
  height: 40px;
  border-radius: var(--ymsk-thumb-border-radius-small);
}
table.wp-list-table td.column-ymsk-thumbnail img {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.07);
}
table.wp-list-table td.column-ymsk-thumbnail .dashicons {
  opacity: 0.1;
  font-size: 40px;
}
@media (max-width: 782px) {
  table.wp-list-table tr.is-expanded td.column-ymsk-thumbnail {
    padding: 8px 8px 2px 35%;
    display: flex !important;
    align-items: center;
  }
}
table.wp-list-table th.column-ymsk-filesize {
  width: 110px;
}
table.wp-list-table th.column-ymsk-template {
  width: 150px;
}
table.wp-list-table th.column-ymsk-order {
  width: 70px;
  text-align: center;
}
@media (min-width: 783px) {
  table.wp-list-table td.column-ymsk-order {
    text-align: center;
  }
}
table.wp-list-table.media td.column-title img {
  border-radius: var(--ymsk-thumb-border-radius-primary);
}
table.wp-list-table.tags th.column-posts {
  width: 85px;
}
table.wp-list-table.plugins td.column-ymsk-thumbnail img {
  border: none;
}
table.wp-list-table.users td.column-username img {
  border-radius: var(--ymsk-thumb-border-radius-small);
}
table.wp-list-table {
  /* WooCommerce */
}
body.woocommerce-admin-page.post-type-product table.wp-list-table.posts th.column-thumb {
  width: 40px;
  opacity: 0.75;
}
body.woocommerce-admin-page.post-type-product table.wp-list-table.posts td.column-thumb {
  position: relative;
}
body.woocommerce-admin-page.post-type-product table.wp-list-table.posts td.column-thumb a {
  display: flex;
}
body.woocommerce-admin-page.post-type-product table.wp-list-table.posts td.column-thumb img {
  border-radius: var(--ymsk-thumb-border-radius-small);
  border: 1px solid rgba(0, 0, 0, 0.07);
}
body.woocommerce-admin-page.post-type-product table.wp-list-table.posts td.column-thumb .ymsk-icon {
  background-color: var(--wc-blue);
  width: 10px;
  height: 10px;
  padding: 2px;
  border-radius: 2px;
  position: absolute;
  top: 34px;
  left: 10px;
}
@media (max-width: 782px) {
  body.woocommerce-admin-page.post-type-product table.wp-list-table.posts td.column-thumb .ymsk-icon {
    top: 28px;
  }
}
body.woocommerce-admin-page.post-type-product table.wp-list-table.posts td.column-thumb .ymsk-icon::before {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  font-size: 9px;
  color: #fff;
}
body.woocommerce-admin-page.post-type-product table.wp-list-table.posts th.column-name {
  width: auto;
}
body.woocommerce-admin-page.post-type-product table.wp-list-table.tags th.column-thumb {
  width: 62px;
}
body.woocommerce-admin-page.post-type-product table.wp-list-table.tags td.column-thumb img {
  border-radius: var(--ymsk-thumb-border-radius-small);
}
body.woocommerce-admin-page.post-type-product table.wp-list-table.tags th.column-name.column-primary {
  width: auto;
}
table.wp-list-table .woocommerce_order_items_wrapper th.quantity.sortable {
  white-space: nowrap;
}

/*# sourceMappingURL=ymsk-advanced-columns-admin.css.map */
